<p>
Welcome, my name is Tom Le Roux and this is my first project using ruby and ruby on rails.
The purpose of this project is to familiarize myself with this language and to create a simple website to upload my CV and some part of works to show my skills.
This project will be regulary updated.
You can send me your recommendation on the <a href="<%= topics_url %>">forum page</a>
</p>