<p>
Welcome, my name is Tom Le Roux and this is my first project using ruby and ruby on rails.<br>
The purpose of this project is to familiarize myself with this language and to create a simple website.<br>
<br>
Here you can create your profile, add a profile picture and upload your CV.<br>
<br>
Then you can go to the forum page. There you can start a Topic for example "I am a full stack developer looking for an internship" and then wait for people to see and comment your topic.<br>
You can also check all the Topic and to find a work offer.<br>
You can check the user profile by clicking on the name above each message. There is also the possibility of downloading the CV of other people.<br>
<br>
Please enjoy !
</p>